@model BRApplication.Models.MarketPost

<div id="mdlConfirmation@(Model.PostID)" class="none">Delete this post? <br /> WARNING: This action is permanent</div>

<div id="MarketPost@(Model.PostID)" class="DeleteMarketPost" style="width:100%">
    <div class="DeleteMarketPostPrice">
        @Model.Price 
    </div>
    <div class="DeleteBookImage">
        <img src="@Url.Content("~/Content/Images/StaticImage.jpg")" alt="Book Image" width="68px" height="68px" />
    </div>
    <div class="DeleteMarketPostDetail">
         @using (Html.BeginForm("LoadDetailPost", "Post"))
         {
             Session["marketPost"] = Model;
            @(Html.ActionLink(Model.Title, "LoadDetailPost", "Posting"))
         }
        <div>
            <span class="marketLabel">Author: </span><span class="marketValue">@Model.Author</span>
            <span class="marketLabel">Course: </span><span class="marketValue">@Model.Course</span>
            <span class="marketLabel">ISBN: </span><span class="marketValue">@Model.ISBN </span>
        </div>
        <div>
            <span class="marketValue datePosted">@Model.datePosted</span>
        </div>
    </div>
    <div class="dvBtnDelete">
        <input id="btnDelete" class="btn-delete" type="button" postID="@(Model.PostID)" profileID="@(Model.profileID)" value="X" />
    </div>
</div>
