@model IEnumerable<BRApplication.Models.MarketPost> 

<div id="mdlLoginRequest" title="Login Request" class="none">
    You must login to proceed! <br /><br />
    <div class="fbLink">
        @Html.ActionLink("Login with Facebook", "Facebook", "Account") 
    </div>
</div>
<div class="PostContainer">


    @* market page header *@
   <div id="marketHeader">
        <div id="marketheaderWrapper">
            <div id="searchbarWrapper">
                <input id="MarketSearch" type="text" size="40" placeholder="Search by Title, Course, or ISBN" />
            </div>

            <div id="addpostWrapper">
                <input id="btnAddNew" type="button" value="Add Post" />
            </div>
        </div>

    </div>

    @* post containers *@
    <div class="ExistingPosts">
        <div class="ChoosePost">
            <ul id="SearchResults" class="SearchResults wave">
                @Html.Partial("MarketPost_Partial", Model) 
            </ul>
        </div>
     </div>


</div>
<div id="LoginStatus" class="none">@(Request.IsAuthenticated && Session["AccessToken"] != null)</div>

<script type="text/javascript">
    //Must come after definition of the 'ul' element that we are binding to
    stroll.bind('.ExistingPosts ul');

    var xhr = null;
    $("#MarketSearch").keyup(function () {
        var searchVal = $("#MarketSearch").val().trim();
        var isBuySection = '@(Model.ElementAt(0).IsBuy)';

        if (isBuySection == "True") {
            isBuySection = true;
        } else {
            isBuySection = false;
        }
       
        if (xhr && xhr.readyState != 4) {
            xhr.abort();
        }

        xhr = $.ajax({
            url: '@Url.Action("GetMarketPosts", "Market")',
            data: {
                isBuy: isBuySection,
                searchString: searchVal
            },
            type: 'POST',
            success: function (result) {
                $("#SearchResults").html(result);
            }
        });
    });
</script>

 
@section script {
    <script type="text/javascript">

    var postID = 0;

    $(function () {

        $("#btnAddNew").click(function () {
            var LoginStatus = $("#LoginStatus").text();
            if (LoginStatus == "True") {
                AddNew();
            } else {
                LoginRequestDialog(); 
            }
        }); 

        $(document).on('click', '.btn-buy', function () {

            postID = $(this).attr('postID');
            var email = $("#email" + postID).text();
            var LoginStatus = $("#LoginStatus").text();
          
            if (LoginStatus == "True") {
                if (email == "True") {
                    EmailDialog();
                } else {
                    FacebookLink();
                }
            } else {
                LoginRequestDialog();
            }
            
        });


        $(document).on('click', '.btn-sell', function () {
           
            postID = $(this).attr('postID');
            var email = $("#email" + postID).text();
            var LoginStatus = $("#LoginStatus").text();
            
            if (LoginStatus == "True") {
                if (email == "True") {
                    EmailDialog();
                } else {
                    FacebookLink();
                }
            } else {
                LoginRequestDialog();
            }
        });
    });

    function AddNew() {
        document.location = '@Url.Action("AddNew","Posting")';
    }

    function LoginRequestDialog() {
        $("#mdlLoginRequest").dialog({
            height: 200,
            width: 500,
            modal: true
        });
    }

    function EmailDialog() {
        $("#mdlEmail" + postID).dialog({
            height: 350,
            width: 600,
            modal: true,
            buttons: [{
                        text: "Cancel",
                        click: function() { 
                            $(this).dialog("close"); 
                        }
                  }]
            });
    }

    function PostInfo() {
        var post = {
            postedBy: $("#PostedBy" + postID).text(),
            bookTitle: $("#bookTitle" + postID).text(),
            profileID: $("#profileID" + postID).text()
        }
        return post;
    }

    $(document).on('click', '.btn-save', function () {

        var RespondantEmail = $(this).siblings('.txtRespondantEmail').val();
        var post = PostInfo();
           
        $.ajax({
            url: '@Url.Action("EmailSeller", "Market")',
            data: {
                PostedBy: post.postedBy,
                textbook: post.bookTitle,
                profileID: post.profileID,
                RespondantEmail: post.RespondantEmail
            },
            type: 'POST',
            success: function (result) {
                if (result) {
                    SuccessDialog(this);
                } else {
                    FailedToMailDialog(this);
                }
            }
        });
    }); 

        

    $(document).on('click', '.btn-sell-save', function () {

        var RespondantEmail = $(this).siblings('.txtRespondantEmail').val();
        var post = PostInfo(); 

        $.ajax({
            url: '@Url.Action("EmailBuyer", "Market")',
            data: {
                PostedBy: post.postedBy,
                textbook: post.bookTitle,
                profileID: post.profileID,
                RespondantEmail: RespondantEmail
            },
            type: 'POST',
            success: function (result) {
                if (result) {
                    SuccessDialog(this);
                } else {
                    FailedToMailDialog(this);
                }
            }
        });
    });

    function FacebookLink() {
     
      var profileID = $("#profileID" + postID).text();
      
        $.ajax({
            url: '@Url.Action("GetFacebookLink", "Market")',
            data: {
                profileID: profileID
            },
            type: 'POST',
            success: function (result) {
                $("#fblink" + postID).html("<a href=\"" + result + "\">" + result + "</a>");
                FacebookDialog();
                
            }
        });
    }

    function SuccessDialog(dialog) {
        $("#mdlSuccess" + postID).dialog({
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "OK": function () {
                    $(".ui-dialog-content").dialog("close");
                }
            }
        });
    }

    function FailedToMailDialog() {
        $("#mdlFailedToMail" + postID).dialog({
            height: 200,
            width: 200,
            modal: true,
            buttons: {
                "OK": function () {
                    $(".ui-dialog-content").dialog("close");
                }
            }
        });
    }

    function FacebookDialog() {
        $("#mdlFacebook" + postID).dialog({
            height: 300,
            width: 500,
            modal: true,
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                }
            }
        });
    }
    </script>
}