<!-- NEW STUFF STARTS HERE -->
@Styles.Render("~/Content/Pages/Home.css")


<body>
<!--Everything goes inside here-->
	<!--Background goes here-->
	<div class="contentContainer">
		<div id="leftDiv">
            <div id="vertical-middle"><img src="Images/bsBG.jpg" style="width: 90%"/></div>
		</div>

		<div id="rightDiv">
            <div id="vertical-middle">
                <h1>I am looking to</h1>

			    <div class="button buttonBuy"><a href="@(Url.Action("GetMarketPostsByisBuy", "Market", new { isBuy = false }))" title="Buy Textbooks">Buy</a></div>
			
                <div class="button buttonSell"><a href="@(Url.Action("GetMarketPostsByisBuy", "Market", new { isBuy = true }))" title="Sell Textbooks">Sell</a></div>
            </div>
		</div>

	</div>	
<!-- NEW STUFF ENDS HERE -->
</body>

@*<div class="home">
    <a class="header" href="@(Url.Action("GetMarketPostsByisBuy", "Market", new { isBuy = false }))" title="Buy Textbooks">Buy</a>
    <a class="header" href="@(Url.Action("GetMarketPostsByisBuy", "Market", new { isBuy = true }))" title="Sell Textbooks">Sell</a>
</div>*@

