<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - BookSpade</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/themes/orangy/jquery-ui-1.10.1.custom.css")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/style.css")
        @Styles.Render("~/Content/effects/stroll/stroll.css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/jquery-1.9.1.js")
        @Scripts.Render("~/Scripts/jquery-ui-1.10.1.custom.js")
        @Scripts.Render("~/Scripts/stroll.js")
        @Scripts.Render("~/Scripts/Common.js")
        
        <script>
            $(function () {

                $("#accordion").accordion();
                $(".accordion").accordion();

                var availableTags = [
                    "ActionScript",
                    "AppleScript",
                    "Asp",
                    "BASIC",
                    "C",
                    "C++",
                    "Clojure",
                    "COBOL",
                    "ColdFusion",
                    "Erlang",
                    "Fortran",
                    "Groovy",
                    "Haskell",
                    "Java",
                    "JavaScript",
                    "Lisp",
                    "Perl",
                    "PHP",
                    "Python",
                    "Ruby",
                    "Scala",
                    "Scheme"
                ];
                $("#autocomplete").autocomplete({
                    source: availableTags
                });

                $("input:text").autocomplete({
                    source: availableTags
                });

                $("input:button").button();
                $("input:submit").button(); 
                $("#button").button();
                $("a.header").button();
                $("a.body").button();

                $("#radioset").buttonset();

                $("#tabs").tabs();

                $("#dialog").dialog({
                    autoOpen: false,
                    width: 400,
                    buttons: [
                        {
                            text: "Ok",
                            click: function () {
                                $(this).dialog("close");
                            }
                        },
                        {
                            text: "Cancel",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

                // Link to open the dialog
                $("#dialog-link").click(function (event) {
                    $("#dialog").dialog("open");
                    event.preventDefault();
                });



                $("#datepicker").datepicker({
                    inline: true
                });



                $("#slider").slider({
                    range: true,
                    values: [17, 67]
                });



                $("#progressbar").progressbar({
                    value: 20
                });


                // Hover states on the static widgets
                $("#dialog-link, #icons li").hover(
                    function () {
                        $(this).addClass("ui-state-hover");
                    },
                    function () {
                        $(this).removeClass("ui-state-hover");
                    }
                );
            });
        </script>
    </head>


        <header>
            <div id="headerCell">
                <div id="headerWrapper">
                    <div id="headLeft">
                        <a href="@Url.Action("Index", "Home")"><img src="@(Url.Content("~/Images/logo_bookspade_white.png"))" /></a>
	                </div>

                    <section id="login">
                        <div >@Html.Partial("_LoginPartial")</div>
                    </section>
                </div>
            </div>

        @*REMOVE EVENTUALLY
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    <div>@Html.Partial("_LoginPartial")</div>
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>*@

        @RenderSection("Script", required: false) 
    </header>


    <body>
        @*Header appears at the top of every page*@


        @*REMOVE EVENTUALLY
        <div class="sidebar">
            <a class="body">Create Your Own Posting</a>
        </div>*@

        @*Adds in BODY below Header*@
        <div class="body">
            @RenderBody()
        </div>

        @*Footer appears on bottom of every page*@
        <footer>
            <!--Links and legal disclaimer goes here-->
            <ul>
                <li>BookSpade &copy; @DateTime.Now.Year</li>
                
@*                <li><a href="#">FAQs</a></li>
                
                <li><a href="#">Contact</a></li>

                <li><a href="#">About</a></li>*@

                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                
                <li>@Html.ActionLink("About", "About", "Home")</li>

                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>

            @*REMOVE EVENTUALLY
            <span class="copyright">
                @DateTime.Now.Year - BookSpade
            </span>*@

        </footer>
        @RenderSection("scripts", required: false)
    </body>
</html>
