<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - BookSpade</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/themes/orangy/jquery-ui-1.10.1.custom.css")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/style.css")
        @Styles.Render("~/Content/effects/stroll/stroll.css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/jquery-1.9.1.js")
        @Scripts.Render("~/Scripts/jquery-ui-1.10.1.custom.js")
        @Scripts.Render("~/Scripts/stroll.js")
        @Scripts.Render("~/Scripts/Common.js")
        
        <script>
            $(function () {

                $("#accordion").accordion();
                $(".accordion").accordion();

                var availableTags = [
                    "ActionScript",
                    "AppleScript",
                    "Asp",
                    "BASIC",
                    "C",
                    "C++",
                    "Clojure",
                    "COBOL",
                    "ColdFusion",
                    "Erlang",
                    "Fortran",
                    "Groovy",
                    "Haskell",
                    "Java",
                    "JavaScript",
                    "Lisp",
                    "Perl",
                    "PHP",
                    "Python",
                    "Ruby",
                    "Scala",
                    "Scheme"
                ];
                $("#autocomplete").autocomplete({
                    source: availableTags
                });

                $("input:text").autocomplete({
                    source: availableTags
                });


                //$("input:button").button();
                //$("input:submit").button(); 
                //$("#button").button();
                //$("a.header").button();
                //$("a.body").button();

                //$("#radioset").buttonset();


                $("#tabs").tabs();

                $("#dialog").dialog({
                    autoOpen: false,
                    width: 400,
                    buttons: [
                        {
                            text: "Ok",
                            click: function () {
                                $(this).dialog("close");
                            }
                        },
                        {
                            text: "Cancel",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

                // Link to open the dialog
                $("#dialog-link").click(function (event) {
                    $("#dialog").dialog("open");
                    event.preventDefault();
                });



                $("#datepicker").datepicker({
                    inline: true
                });



                $("#slider").slider({
                    range: true,
                    values: [17, 67]
                });



                $("#progressbar").progressbar({
                    value: 20
                });


                // Hover states on the static widgets
                $("#dialog-link, #icons li").hover(
                    function () {
                        $(this).addClass("ui-state-hover");
                    },
                    function () {
                        $(this).removeClass("ui-state-hover");
                    }
                );
            });
        </script>
    </head>


        <header>
            <div id="headerCell">
                <div id="headerWrapper">
                    <div id="headLeft">
                        <a href="@Url.Action("Index", "Home")"><img src="@(Url.Content("~/Images/logo_bookspade_white.png"))" /></a>
	                </div>

                    <section id="login">
                        <div >@Html.Partial("_LoginPartial")</div>
                    </section>
                </div>
            </div>

        @*REMOVE EVENTUALLY
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    <div>@Html.Partial("_LoginPartial")</div>
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>*@

        @RenderSection("Script", required: false) 
    </header>


    <body>
        @*Header appears at the top of every page*@


        @*REMOVE EVENTUALLY
        <div class="sidebar">
            <a class="body">Create Your Own Posting</a>
        </div>*@
        <div id="mdlLoginRequest" title="Login Request" class="none">
            You must login to proceed! <br /><br />
            <div class="fbLink">
                @Html.ActionLink("Login with Facebook", "Facebook", "Account") 
            </div>
        </div>
        <div id="reportBug" title="Report a Bug" class="none mdlEmail" style="display:none;">
            Please enter a description of the bug you would like to report <br/><br/>
            <textarea class="bugmsg" style="width:90%;height:200px;"></textarea><br/>
            <input id="" class="btn-submit" type="button" style="width:auto; height:auto;" value="Submit" />
        </div>
        <div id="reportSuccess" title="Success!"  class="none">
            Thank you for reporting the bug. We will get the problem resolved as soon as possible.
        </div>
        <div id="reportFail" title="Oops!" class="none">
            There was an error in submitting your bug report message, please try again. 
        </div>
        <div id="LoginStatus" class="none">@(Request.IsAuthenticated && Session["AccessToken"] != null)</div>

        @*Adds in BODY below Header*@
        <div class="body">
            @RenderBody()
        </div>

        @*Footer appears on bottom of every page*@
        <footer>
            <!--Links and legal disclaimer goes here-->
            <ul>
                <li>BookSpade &copy; @DateTime.Now.Year</li>
                
@*                <li><a href="#">FAQs</a></li>
                
                <li><a href="#">Contact</a></li>

                <li><a href="#">About</a></li>*@

                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                
                <li>@Html.ActionLink("About", "About", "Home")</li>

                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                <li><a href="#" class="reportbug">Report a Bug</a></li>
            </ul>

            @*REMOVE EVENTUALLY
            <span class="copyright">
                @DateTime.Now.Year - BookSpade
            </span>*@

        </footer>
        @RenderSection("scripts", required: false)

        <script type="text/ecmascript">
            $(function () {
                $(document).on('click', '.reportbug', function () {
                    var LoginStatus = $("#LoginStatus").text();
                    if (LoginStatus == "True") {
                        ReportBugDialog();
                    }
                    else {
                        LoginRequestDialog();
                    }
                });
            });

            function ReportBugDialog() {
                $("#reportBug").dialog({
                    height: 550,
                    width: 800,
                    modal: true,
                    buttons: [{
                        text: "Cancel",
                        "class": 'EmailCancel',
                        click: function () {
                            $(this).dialog("close");
                        }
                    }]
                });
            }

            function LoginRequestDialog() {
                $("#mdlLoginRequest").dialog({
                    height: 200,
                    width: 500,
                    modal: true
                });
            }

            $(document).on('click', '.btn-submit', function () {

                var bugmsg = $(this).siblings('.bugmsg').val();

                $.ajax({
                    url: '@Url.Action("ReportABug", "Home")',
                        data: {
                            BugMsg: bugmsg
                        },
                        type: 'POST',
                        success: function (result) {
                            if (result) {
                                SuccessDialog(this);
                            } else {
                                FailDialog(this);
                            }
                        }
                    });
                });

                    function SuccessDialog(dialog) {
                        $("#reportSuccess").dialog({
                            height: 300,
                            width: 500,
                            modal: true,
                            buttons: {
                                "OK": function () {
                                    $(".ui-dialog-content").dialog("close");
                                }
                            }
                        });
                    }

                    function FailDialog() {
                        $("#reportFail").dialog({
                            height: 300,
                            width: 500,
                            modal: true,
                            buttons: {
                                "OK": function () {
                                    $(".ui-dialog-content").dialog("close");
                                }
                            }
                        });
                    }
            </script>
    </body>
</html>
