@model IEnumerable<BRApplication.Models.Textbook>

@{
    foreach (var b in Model)
    { 
        <li class="tooltip" onmouseover="tooltip.pop(this, '<span style=\'color:black;\'><div style=\'float:left;\'><img src=\'@b.BookImageURL\' width=\'100px\' /></div><div style=\'float:left;\'>ISBN: @b.ISBN<br />Book Title: @b.Title<br />Author(s): @b.Author<br />Course: @b.CourseName<br />Store Price: &#36;@b.StorePrice</div></span>')">
            <div class="item">
                <span id="Course" class="Block">@b.CourseName</span>
                <span id="Title" class="Block Truncate One-line">@b.Title</span>
            </div>
        </li>
    }
}