@model BRApplication.Models.MarketPost


<div id="mdlEmail@(Model.PostID)" title="Contact Email Address" class="none mdlEmail">
    Please enter an email the buyer can contact you with to buy your textbook. <br/><br/>
     @Html.TextBox("txtRespondantEmail", "", new { @class = "txtRespondantEmail" })
    <input id="btnSellSave" class="btn-sell-save" type="button" value="Submit" />
</div>
<div id="mdlFacebook@(Model.PostID)" class="none">
    Please contact @Model.PostedBy through their facebook profile: <br /><br />
    <div id="fblink@(Model.PostID)" class="fbLink">&nbsp;</div>
</div>
<div id="mdlSuccess@(Model.PostID)" title="Success!"  class="none">
    Success! The poster has been notified and will contact you soon.
</div>
<div id="mdlFailedToMail@(Model.PostID)" title="Oops!" class="none">
    The poster could not be contact with the given email address, please try again. 
</div>


@* individual market post *@
    <div class="marketpostWrapper shadow roundBorder-bottomRight">

        <div class="leftmarketpostWrapper">

            @* book image *@
            <div class="bookimageWrapper">
                <div class="squareFill"></div>

                <div class="BookImage">     
                    <img src="@Url.Content("~/Content/Images/StaticImage.jpg")" alt="Book Image">
                </div>

                @* book price *@
				<div class="bookpriceWrapper">
                    <div class="MarketBuyPrice">
                        $@Model.Price 
                    </div>
				</div>
            </div>

            @* links below book image *@
            <div class="marketpostQuicklinks">
                <a href="@(Url.Action("LoadDetailPost", "Posting", new { postID = Model.PostID }))"><div class="marketBtn">More Details</div></a>

			    <div class="marketBtn">
                    <input class="btn-sell" id="btnSellNow" type="button" postID="@(Model.PostID)" value="Sell Now" />
                </div>
            </div>
        </div>

        <div class="rightmarketpostWrapper roundBorder-bottomRight">
            <div class="MarketPostDetail">
                <div>
                    <span class="marketLabel">Title: </span><span class="marketValue">@Model.Title</span>

                    <br />

                    <span class="marketLabel">Author: </span><span class="marketValue">@Model.Author</span>

                    <br />

                    <span class="marketLabel">Course: </span><span class="marketValue">@Model.Course</span>
                    
                    <br />
                    
                    <span class="marketLabel">Condition: </span><span class="marketValue">@Model.Condition</span>
                    
                    <br />

                    <span class="marketLabel">ISBN: </span><span class="marketValue">@Model.ISBN </span>
                    
                    <br />

                    <span class="marketLabel">Posted on: </span><span class="marketValue datePosted">@Model.datePosted</span>
                </div>
            </div>
        </div>
    </div>





<div class="none" id="PostedBy@(Model.PostID)">@Model.PostedBy</div>
<div class="none" id="bookTitle@(Model.PostID)">@Model.Title</div>
<div class="none" id="profileID@(Model.PostID)">@Model.profileID</div>
<div class="none" id="email@(Model.PostID)">@Model.viaEmail</div>

