@model BRApplication.Models.MarketPostModel

<div class="MarketPost">
    <div class="MarketBuyPrice">
        $@Model.Price 
    </div>
    <a href="http://www.facebook.com">@Model.Title</a>
    <div class="MarketPostDetail">
        <div>
            <span class="marketLabel">Author: </span> 
            <span class="marketValue">@Model.Author</span>&nbsp;&nbsp;|&nbsp|
            <span class="marketLabel">Course: </span> 
            <span class="marketValue">@Model.Course</span>&nbsp;&nbsp;|&nbsp|
            <span class="marketLabel">Condition: </span> 
            <span class="marketValue">@Model.Condition</span>&nbsp;&nbsp;|&nbsp|
            <span class="marketLabel">ISBN: </span> 
            <span class="marketValue">@Model.ISBN </span>
        </div>
        <div>
            <span class="marketValue" style="text-align:right; font-size:8px; font-style:italic; float:left; padding-left:20px;">@Model.datePosted</span>
        </div>
    </div>
</div>




@*background-image:url('@Url.Content("~/Content/Images/MarketBuy.png")')*@