@model BRApplication.Models.MarketPost

<div id="mdlEmail" title="Contact Email Address" class="none mdlEmail">
    Please enter an email the owner of this book can contact you with. <br/><br/>
     @Html.TextBox("txtRespondantEmail", "", new { @class = "txtRespondantEmail" })
    <input id="btnSave" class="none btn-save" type="button" value="Submit" />
</div>
<div id="mdlFacebook" class="none">
    Please contact @Model.PostedBy through their facebook profile: 
    <div id="fblink">&nbsp;</div>
</div>
<div id="mdlSuccess" title="Success!"  class="none">
    Success! The poster has been notified and will contact you soon.
</div>
<div id="mdlFailedToMail" title="Oops!" class="none">
    The poster could not be contact with the given email address, please try again. 
</div>

<div class="MarketPost">
    <div class="MarketBuyPrice">
        $@Model.Price 
    </div>
    <div class="BookImage">
        <img src="@Url.Content("~/Content/Images/StaticImage.jpg")" alt="Book Image" width="68px" height="68px" />
    </div>
    <div class="MarketPostDetail">
        <a href="www.facebook.com">@Model.Title</a>
        <div>
            <span class="marketLabel">Author: </span><span class="marketValue">@Model.Author</span>
            <span class="marketLabel">Course: </span><span class="marketValue">@Model.Course</span>
            <span class="marketLabel">Condition: </span><span class="marketValue">@Model.Condition</span>
            <span class="marketLabel">ISBN: </span><span class="marketValue">@Model.ISBN </span>
        </div>
        <div>
            <span class="marketValue datePosted">@Model.datePosted</span>
        </div>
    </div>
    <div  class="btnActionNow">
        <input id="btnBuyNow" type="button" class="btn-buy" value="BUY NOW" />
    </div>
</div>

<div class="none" id="PostedBy">@Model.PostedBy</div>
<div class="none" id="bookTitle">@Model.Title</div>
<div class="none" id="profileID">@Model.profileID</div>
<div class="none" id="email">@Model.email</div>
