@model BRApplication.Models.MarketPostModel

<style type="text/css">
    .DvSubmit {
        width:100%; 
        text-align:right; 
        border-top:3px solid #BA4B06;
    }

</style>

<div class="PostContainer">
    <div class="post">
        <div class="PostHeader">
            <img src="@Url.Content("~/Content/Images/BookStack.png")" alt="BookStack"/>&nbsp
            @Model.Title
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Course</li>
                <li class="value">@Model.Course</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Condition</li>
                <li class="value">@Model.Condition</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Posted by</li>
                <li class="value">@Model.PostedBy</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Date Posted</li>
                <li class="value">@Model.datePosted</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">ISBN</li>
                <li class="value">@Model.ISBN</li>
            </ul>
        </div>       
        <div class="DetailLine">
            <ul> 
                <li class="label">Author</li>
                <li class="value">@Model.Author</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Price</li>
                <li class="value">$@Model.Price</li>
            </ul>
        </div>       
        <div class="DetailLine">
            <ul>
                <li class="label">Negotiate a price?</li>
                <li class="value"><input type="checkbox" id="cbNegotiationPrice"/></li>
            </ul>
        </div>
        <div class="DetailLine" id="dvNegotiate" style="display:none;">
            <ul>
                <li class="label">Offer</li>
                <li class="value">
                    @Html.TextBox("txtBidPrice")
                     
                </li>
            </ul>
        </div>
        <div class="DvSubmit">
             <input id="btnBuy" type="submit" value="Buy Now!" />
             <input id="btnBid" type="submit" value="Submit" style="display:none;" />
        </div>
    </div>
</div>

<script type="text/ecmascript">
    $(function () {
        $('#cbNegotiationPrice').click(function () {
            if ($(this).is(':checked')) {
                $("#btnBuy").hide();
                $("#btnBid").show();
                $("#dvNegotiate").show();
            } else {
                $("#btnBid").hide();
                $("#btnBuy").show();
                $("#dvNegotiate").hide();
            }
        });
    }); 
</script>
