@model BRApplication.Models.MarketPost

@Html.Partial("_ContactPreferencePartial")
@Html.Partial("_PosterRepsonsePartial")

<div id="mdlLoginRequest" title="Login Request" class="none">
    You must login to proceed! <br /><br />
    <div class="fbLink">
        @Html.ActionLink("Login with Facebook", "Facebook", "Account") 
    </div>
</div>
<div id="mdlEmail" title="Contact Email Address" class="none mdlEmail">
    Please enter an email the owner of this book can contact you with. <br/><br/>
     @Html.TextBox("txtRespondantEmail", "", new { @class = "txtRespondantEmail" })
    <input id="btnSave" class="btn-save" type="button" value="Submit" />
</div>
<div id="mdlFacebook" class="none">
    Please contact @Model.PostedBy through their facebook profile: 
    <div id="fblink">&nbsp;</div>
</div>
<div id="mdlSuccess" title="Success!"  class="none">
    Success! The poster has been notified and will contact you soon.
</div>
<div id="mdlFailedToMail" title="Oops!" class="none">
    The poster could not be contacted with the given email address, please try again. 
</div>


<div class="none" id="PostedBy">@Model.PostedBy</div>
<div class="none" id="bookTitle">@Model.Title</div>
<div class="none" id="profileID">@Model.profileID</div>
<div class="none" id="email">@Model.viaEmail</div>
<div id="LoginStatus" class="none">@(Request.IsAuthenticated && Session["AccessToken"] != null)</div>


<div class="PostContainer">
   
    <div class="post">
        <div class="PostHeader">
            <img src="@Url.Content("~/Content/Images/BookStack.png")" alt="BookStack"/>&nbsp
            @Model.Title
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Course</li>
                <li class="value">@Model.Course</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Condition</li>
                <li class="value">@Model.Condition</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Posted by</li>
                <li class="value">@Model.PostedBy</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Date Posted</li>
                <li class="value">@Model.datePosted</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">ISBN</li>
                <li class="value">@Model.ISBN</li>
            </ul>
        </div>       
        <div class="DetailLine">
            <ul> 
                <li class="label">Author</li>
                <li class="value">@Model.Author</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Price</li>
                <li class="value">$@Model.Price</li>
            </ul>
        </div>       
        <div class="DetailLine negotiate">
            <ul>
                <li class="label">Negotiate a price?</li>
                <li class="value"><input type="checkbox" id="cbNegotiationPrice"/></li>
            </ul>
        </div>
        <div class="DetailLine negotiate" id="dvNegotiate" style="display:none;">
            <ul>
                <li class="label">Bid</li>
                <li class="value">
                    <div>
                        @Html.TextBox("txtBidPrice", "", new { @class = "txtRespondantEmail" })
                        <input id="btnBid" type="submit" postID ="@(Model.PostID)" value="Submit" />
                    </div>
                </li>
            </ul>
        </div>
        <div class="BidBox" id="bidBox" style="display:none;">
            @Html.Partial("Bid_Partial", Model)
        </div>
        <div class="DvSubmit">
            @if (Model.IsBuy) {
                <input id="btnBuy" class="btn-sell negotiate" type="submit" value="Sell" />  
            }
            else
            {
                <input id="btnSell" class="btn-buy negotiate" type="submit" value="Buy" />
            }
        </div>
    </div>
</div>

@section Script {
    <script type="text/javascript">
        $(function () {

            $(":radio[name=Pref]").change(function () {
                if ($(this).val() == 'True') {
                    $("#divContactEmail").show();
                } else {
                    $("#divContactEmail").val("");
                    $("#divContactEmail").hide();
                }
            });

            var currentUser = CurrentUserID();
            var postedBy = "@(Model.profileID)";
            var IsUserPoster = currentUser == postedBy; 

            if (IsUserPoster) {
                $(".negotiate").hide();
                $("#DvSubmit").hide();
                $(".poster").show();
                $("#bidBox").show();
            }

            $(".poster-btn-buy").click(function () {
                var bidID = $(this).attr('data-bidID');
                var viaEmail = $(this).attr('data-viaEmail');
                var bidderID = $(this).attr('data-bidderID');
    
                if (viaEmail == "True") {
                    bidResponseEmailDialog(bidID);
                } else {
                    bidResponseFacebookLink(bidderID, bidID); 
                }

            });

            $(".poster-btn-sell").click(function () {
            
                var viaEmail = $(this).attr("data-viaEmail");
                var bidID = $(this).attr("data-bidID");
                var bidderID = $(this).attr("data-bidderID");

                if (viaEmail == "True") {
                    bidResponseEmailDialog(bidID);
                } else {
                    bidResponseFacebookLink(bidderID, bidID);
                }

            });


            function bidResponseEmailDialog(bidID) {
                $("#mdlEmail" + bidID).dialog({
                    height: 350,
                    width: 500,
                    modal: true,
                    buttons: [{
                        text: "Cancel",
                        "class": 'EmailCancel',
                        click: function () {
                            $(this).dialog("close");
                        }
                    }]
                });
            }

            function bidResponseFacebookLink(bidderID, bidID) {
               
                $.ajax({
                    url: '@Url.Action("GetFacebookLink", "Market")',
                    data: {
                        profileID: bidderID
                    },
                    type: 'POST',
                    success: function (result) {
                      
                        $("#fblink" + bidID).html("<a href=\"" + result + "\">" + result + "</a>");
                        
                        bidResponseFacebookDialog(bidID);
                    }
                });
            }

            function bidResponseFacebookDialog(bidID) {

                $("#mdlFacebook" + bidID).dialog({
                    height: 300,
                    width: 500,
                    modal: true,
                    buttons: {
                        "OK": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            }

            $('#cbNegotiationPrice').click(function () {
                if ($(this).is(':checked')) {
                    $("#dvNegotiate").show();
                    $("#bidBox").show();
                } else {
                    $("#dvNegotiate").hide();
                    $("#bidBox").hide();
                }
            });

            $(document).on('click', '.btn-buy', function () {
                var email = $("#email").text();
                var LoginStatus = $("#LoginStatus").text();

                if (LoginStatus == "True") {
                    if (email == "True") {
                        EmailDialog();
                    } else {
                        FacebookLink();
                    }
                } else {
                    LoginRequestDialog();
                }
            });


            $(document).on('click', '.btn-sell', function () {
                var email = $("#email").text();
                var LoginStatus = $("#LoginStatus").text();

                if (LoginStatus == "True") {
                    if (email == "True") {
                        EmailDialog();
                    } else {
                        FacebookLink();
                    }
                } else {
                    LoginRequestDialog();
                }
            });

            $("#btnBid").click(function () {
                var LoginStatus = $("#LoginStatus").text();
                
                if (LoginStatus == "True") {
                    var postID = $(this).attr("postID");
                    ContactPrefDialog(postID);
                } else {
                    LoginRequestDialog();
                }
            }); 
        });

        

        function ContactPrefDialog(postID) {
            $("#SubmitDialog").dialog({
                height: 500,
                width: 550,
                modal: true,
                buttons: {
                    "Bid": function () {
                        NewBid(postID);
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

        function CurrentUserID() {
            var userID = -1;

            $.ajax({
                url: '@Url.Action("GetCurrentUserID", "Account")',
                type: 'POST',
                async: false,
                success: function (result) {
                    userID = result; 
                 }
            });

            return userID; 
        }

        function NewBid(postID) {

            var bid = $("#txtBidPrice").val();
            var email = $("#txtContactEmail").val();

            var isBuy = "@(Model.IsBuy)";
      
            $.ajax({
                url: '@Url.Action("CreateBid", "Posting")',
                data: {
                    postID: postID,
                    bid: bid,
                    email: email
                },
                type: 'POST',
                success: function (result) {
                    if (result.BidID > 0) {
                        GoodBidDialog(this);
                        if (isBuy == "True") {
                            $("#tblBid > tbody:last").append(
                                "<tr><td>" + result.profileName + "</td><td>" + bid + "</td><td class=\"none poster\"><input id=\"btnPosterBuyNow" + result.BidID + "\" data-bidID=\"" + result.BidID + "\" type=\"submit\" class=\"poster-btn-buy\" value=\"BUY NOW\" /></td></tr>"
                                );
                        } else {
                            $("#tblBid > tbody:last").append(
                                "<tr><td>" + result.profileName + "</td><td>" + bid + "</td><td class=\"none poster\"><input id=\"btnPosterSellNow " + result.BidID + "\" data-bidID=\"" + result.BidID + "\" type=\"submit\" class=\"poster-btn-sell\" value=\"SELL NOW\" /></td></tr>"
                                );
                        }
                    } else {
                        BadBidDialog(this); 
                    }
                }
            });
        }

        function EmailDialog() {
            $("#mdlEmail").dialog({
                height: 350,
                width: 500,
                modal: true,
                buttons: [{
                    text: "Cancel",
                    "class": 'EmailCancel',
                    click: function () {
                        $(this).dialog("close");
                    }
                }]
            });
        }

        function EmailDialog() {
            $("#mdlBadBid").dialog({
                height: 350,
                width: 500,
                modal: true,
                buttons: [{
                    text: "Cancel",
                    "class": 'EmailCancel',
                    click: function () {
                        $(this).dialog("close");
                    }
                }]
            });
        }

        $(document).on('click', '.btn-save-email', function () {
            var poster = $("#PostedBy").text();
            var bookTitle = $("#bookTitle").text();
            var profileID = $("#profileID").text();
            var RespondantEmail = $(this).siblings('.txtRespondantEmail').val();
            var IsBuy = $(this).attr("data-IsBuy");

            if (IsBuy == "True") {
                _EmailSellerCallback(poster, bookTitle, profileID, RespondantEmail, true);
            } else {
                _EmailBuyerCallback(poster, bookTitle, profileID, RespondantEmail, true);
            }
            $(this).dialog("close");
        });


        $(document).on('click', '.btn-save', function () {
            var postedby = $("#PostedBy").text();
            var bookTitle = $("#bookTitle").text();
            var profileID = $("#profileID").text();
            var RespondantEmail = $(this).siblings('.txtRespondantEmail').val();

            _EmailSellerCallback(postedby, bookTitle, profileID, RespondantEmail, false);

        });

        $(document).on('click', '.btn-sell-save', function () {
            var postedby = $("#PostedBy").text();
            var bookTitle = $("#bookTitle").text();
            var profileID = $("#profileID").text();
            var RespondantEmail = $(this).siblings('.txtRespondantEmail').val();

            _EmailBuyerCallback(postedby, bookTitle, profileID, RespondantEmail, false); 

        });


        function _EmailSellerCallback(Poster, bookTitle, profileID, respondantEmail, IsBid) {
            $.ajax({
                url: '@Url.Action("EmailSeller", "Market")',
                data: {
                    PostedBy: Poster,
                    textbook: bookTitle,
                    profileID: profileID,
                    RespondantEmail: respondantEmail
                },
                type: 'POST',
                success: function (result) {
                    if (result) {
                        if (IsBid) {
                            BidSuccessDialog(this); 
                        } else {
                            SuccessDialog(this);
                        }
                    } else {
                        FailedToMailDialog(this);
                    }
                }
            });
        }

        function _EmailBuyerCallback(Poster, bookTitle, profileID, respondantEmail, IsBid) {
            $.ajax({
                url: '@Url.Action("EmailBuyer", "Market")',
                data: {
                    PostedBy: Poster,
                    textbook: bookTitle,
                    profileID: profileID,
                    RespondantEmail: respondantEmail
                },
                type: 'POST',
                success: function (result) {
                    if (result) {
                        if (IsBid) {
                            BidSuccessDialog(this);
                        } else {
                            SuccessDialog(this);
                        }
                    } else {
                        FailedToMailDialog(this);
                    }
                }
            });
        }

            

        function FacebookLink() {

            var profileID = $("#profileID").text();

            $.ajax({
                url: '@Url.Action("GetFacebookLink", "Market")',
                data: {
                    profileID: profileID
                },
                type: 'POST',
                success: function (result) {
                    $("#fblink").html("<a href=\"" + result + "\">" + result + "</a>");
                    FacebookDialog();
                }
            });

        }

        function SuccessDialog(dialog) {
            $("#mdlSuccess").dialog({
                height: 300,
                width: 200,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(".ui-dialog-content").dialog("close");
                    }
                }
            });
        }

        function BidSuccessDialog(dialog) {
            $("#mdlBidSuccess").dialog({
                height: 300,
                width: 300,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(".ui-dialog-content").dialog("close");
                    }
                }
            });
        }

        function BadBidDialog(dialog) {
            $("#mdlBadBid").dialog({
                height: 300,
                width: 300,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(".ui-dialog-content").dialog("close");
                    }
                }
            });
        }

        function GoodBidDialog(dialog) {
            $("#mdlGoodBid").dialog({
                height: 300,
                width: 300,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(".ui-dialog-content").dialog("close");
                    }
                }
            });
        }
        function FailedToMailDialog() {
            $("#mdlSuccess").dialog({
                height: 200,
                width: 200,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(".ui-dialog-content").dialog("close");
                    }
                }
            });
        }


        function FacebookDialog() {
            $("#mdlFacebook").dialog({
                height: 300,
                width: 500,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

        function LoginRequestDialog() {
            $("#mdlLoginRequest").dialog({
                height: 200,
                width: 500,
                modal: true
            });
        }
    </script>
}
