@model BRApplication.Models.MarketPost

<style type="text/css">
    .none {
        display:none;
    }
    #btnSave {
        height: 40px;
        width: 110px;
        text-align: center;
    }
    .EmailCancel {
        width: 80px;
        height: 40px;
        text-align:center;
        padding:5px;
        padding-left: 10px;
    }

</style>

<div id="mdlEmail" title="Contact Email Address" class="none mdlEmail">
    Please enter an email the owner of this book can contact you with. <br/><br/>
     @Html.TextBox("txtRespondantEmail", "", new { @class = "txtRespondantEmail" })
    <input id="btnSave" class="btn-save" type="button" value="Submit" />
</div>
<div id="mdlFacebook" class="none">
    Please contact @Model.PostedBy through their facebook profile: 
    <div id="fblink">&nbsp;</div>
</div>
<div id="mdlSuccess" title="Success!"  class="none">
    Success! The poster has been notified and will contact you soon.
</div>
<div id="mdlFailedToMail" title="Oops!" class="none">
    The poster could not be contact with the given email address, please try again. 
</div>

<div class="none" id="PostedBy">@Model.PostedBy</div>
<div class="none" id="bookTitle">@Model.Title</div>
<div class="none" id="profileID">@Model.profileID</div>
<div class="none" id="email">@Model.email</div>


<div class="PostContainer">
    <form method="get" action="/search" id="search">
      <input name="q" type="text" size="40" placeholder="Search..." />
    </form>    
    <div class="post">
        <div class="PostHeader">
            <img src="@Url.Content("~/Content/Images/BookStack.png")" alt="BookStack"/>&nbsp
            @Model.Title
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Course</li>
                <li class="value">@Model.Course</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Condition</li>
                <li class="value">@Model.Condition</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Posted by</li>
                <li class="value">@Model.PostedBy</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Date Posted</li>
                <li class="value">@Model.datePosted</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">ISBN</li>
                <li class="value">@Model.ISBN</li>
            </ul>
        </div>       
        <div class="DetailLine">
            <ul> 
                <li class="label">Author</li>
                <li class="value">@Model.Author</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Price</li>
                <li class="value">$@Model.Price</li>
            </ul>
        </div>       
        <div class="DetailLine">
            <ul>
                <li class="label">Negotiate a price?</li>
                <li class="value"><input type="checkbox" id="cbNegotiationPrice"/></li>
            </ul>
        </div>
        <div class="DetailLine" id="dvNegotiate" style="display:none;">
            <ul>
                <li class="label">Offer</li>
                <li class="value">
                    <div>
                        @Html.TextBox("txtBidPrice")
                        <input id="btnBid" type="submit" value="Submit" />
                    </div>
                </li>
            </ul>
        </div>
        <div class="BidBox" id="bidBox" style="display:none;">
            <div class="BidHeader">
                Current List of Bids for this Posting:
                <table>
                    <tr>
                        <td> Buyer </td>
                        <td> Seller </td>
                        <td> Price </td>
                    </tr>
                </table>
            </div>
            @Html.Partial("Bid_Partial", Model)
        </div>
        <div class="DvSubmit">
            @if (Model.IsBuy) {
                <input id="btnSell" class="btn-buy" type="submit" value="Buy" />
            } else {
                <input id="btnBuy" class="btn-sell" type="submit" value="Sell" />
            }
        </div>
    </div>
</div>

@section Script {
    <script type="text/ecmascript">
        $(function () {
            $('#cbNegotiationPrice').click(function () {
                if ($(this).is(':checked')) {
                    //$("#btnBid").show();
                    $("#dvNegotiate").show();
                    $("#bidBox").show();
                } else {
                    //$("#btnBid").hide();
                    $("#dvNegotiate").hide();
                    $("#bidBox").hide();
                }
            });

            $(document).on('click', '.btn-buy', function () {
                var email = $("#email").text();
                if (email) {
                    EmailDialog();
                } else {
                    FacebookLink();
                }
            });


            $(document).on('click', '.btn-sell', function () {
                var email = $("#email").text();
                if (email) {
                    EmailDialog();
                } else {
                    FacebookLink();
                }
            });

        });

        function EmailDialog() {
            $("#mdlEmail").dialog({
                height: 350,
                width: 500,
                modal: true,
                buttons: [{
                    text: "Cancel",
                    "class": 'EmailCancel',
                    click: function () {
                        $(this).dialog("close");
                    }
                }]
            });
        }

        $(document).on('click', '.btn-save', function () {
            var postedby = $("#PostedBy").text();
            var bookTitle = $("#bookTitle").text();
            var profileID = $("#profileID").text();
            var RespondantEmail = $(this).siblings('.txtRespondantEmail').val();

            $.ajax({
                url: '@Url.Action("EmailSeller", "Market")',
                data: {
                    PostedBy: postedby,
                    textbook: bookTitle,
                    profileID: profileID,
                    RespondantEmail: RespondantEmail
                },
                type: 'POST',
                success: function (result) {
                    if (result) {
                        SuccessDialog(this);
                    } else {
                        FailedToMailDialog(this);
                    }
                }
            });
        });

            $(document).on('click', '.btn-sell-save', function () {
                var postedby = $("#PostedBy").text();
                var bookTitle = $("#bookTitle").text();
                var profileID = $("#profileID").text();
                var RespondantEmail = $(this).siblings('.txtRespondantEmail').val();

                $.ajax({
                    url: '@Url.Action("EmailBuyer", "Market")',
                    data: {
                        PostedBy: postedby,
                        textbook: bookTitle,
                        profileID: profileID,
                        RespondantEmail: RespondantEmail
                    },
                    type: 'POST',
                    success: function (result) {
                        if (result) {
                            SuccessDialog(this);
                        } else {
                            FailedToMailDialog(this);
                        }
                    }
                });
            });


            function FacebookLink() {
                alert("fb link");
                var profileID = $("#profileID").text();
                alert(profileID);
                $.ajax({
                    url: '@Url.Action("GetFacebookLink", "Market")',
                data: {
                    profileID: profileID
                },
                type: 'POST',
                success: function (result) {
                    $("#fblink").text(result);
                    FacebookDialog();
                }
            });

        }

        function SuccessDialog(dialog) {
            $("#mdlSuccess").dialog({
                height: 300,
                width: 200,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(".ui-dialog-content").dialog("close");
                    }
                }
            });
        }

        function FailedToMailDialog() {
            $("#mdlSuccess").dialog({
                height: 200,
                width: 200,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(".ui-dialog-content").dialog("close");
                    }
                }
            });
        }

        function FacebookDialog() {
            $("#mdlFacebook").dialog({
                height: 300,
                width: 500,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
    </script>
}
